language: python
python: 3.7
git:
  depth: false
env:
  global:
    - CIBW_SKIP="pp* cp27-* cp34-* cp35-* cp36-* *i686* *-win32"
    - CIBW_TEST_COMMAND="bash {project}/ci/test"
matrix:
  include:
    - os: linux
      services: docker
      before_install:
        - python3 -m pip install --upgrade pip setuptools
    - os: osx
      osx_image: xcode11.2
      language: shell
      before_install:
        - python3 -m pip install --upgrade pip setuptools
addons:
  apt:
    packages:
      - libffi-dev
      - libffi6
      - cmake
install:
  - python3 -m pip install flake8 black isort pytest --upgrade
  - flake8
  - black --check .
  - isort --check-only .
  - python3 setup.py test
  - python3 -m pip install cibuildwheel
before_script:
  - git clean -xdfq
script:
  - python3 -m cibuildwheel --output-dir wheelhouse
after_success:
  - |
    if [ "${TRAVIS_TAG:-}" != "" ]; then
      python3 -m pip install twine -U
      python3 -m twine upload --skip-existing wheelhouse/*
    fi
notifications:
  email:
    recipients:
      - danilo.horta@pm.me
    on_success: never
    on_failure: always
