include LICENSE.md
include README.md
include build_ext.py
include hmmer_reader/data/2OG-FeII_Oxy_3-nt.hmm.gz
include hmmer_reader/data/A0ALD9.fasta
include hmmer_reader/data/PF02545.hmm.br.corrupted
include hmmer_reader/data/PF02545.hmm.gz
include hmmer_reader/data/corrupted1.hmm.gz
include hmmer_reader/data/corrupted2.hmm.gz
include hmmer_reader/data/corrupted3.hmm.gz
include hmmer_reader/data/three-profs.hmm.gz
include hmmer_reader/meta_read.c
include hmmer_reader/meta_read.h
include version.py
